/*uDuckAdmin CSS code*/
body{
	background-color:#808080;
}
#wrapper{
	width:960px;
	margin: 0 auto;
	background-color:#ddddff;
	overflow: hidden;
}


#headerdiv{
	clear:both;
	height:100px;
	background-color:#bbbbff;
	padding:5px;
}
#headerlogo{float:left;}
#headertitle{
	float:left;
	margin-bottom:0;
	margin-top:0;
}
#headerlogout{
	
	float:right;
}
#headeruserbox{
	float:right;
	/*margin-top:10px;
	margin-right:20px;*/
}


#sidebardiv{
	min-height:700px;
	height:200%;
	width:150px;
	float:left;
	background-color:#ccccFF;
	
}
.sidebarmenu{
	list-style-type: none;
	padding: 10px;
	font-family:sans-serif;
	
}

.sans{
	font-family:sans-serif;
}
.fleft{
	float:left;
}
.fright{
	float:right;
}
ul{
	list-style-type: none; padding: 5px;
}
li ul{
	background-color:#BBBBFF;
}
	

.cp_body{
	background-color:#ddddff;
	min-height:500px;
	width:780px;
	margin:0;
	padding: 15px 0 0 0;
	float:right;
	display: block;
}
.greyedout{
	color:gray;
	
}
.realtable,th,td{
	border: 1px solid gray;
	border-collapse:collapse;
	padding:5px;
	
}
td{
	max-width:12em;
	overflow: hidden;
}
